* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

header {
	margin: 0;
	padding: 0px;
}

nav {
	background-color: #14858d;
	margin: 0px;
	padding: 0px;
}

ul {
	margin: 0 auto;
	width: 50%;
	height: 100px;
}

a {
	opacity: 0.3;
	color: white;
	-webkit-transition-duration: 0.5s;
}
	
a:hover {
	-webkit-transition-duration: 1.0s;
	-webkit-transform:scale(1.2);
	opacity: 1.0;
}

li {
	margin: 0 auto;
	display: inline-block;
	width: 160px;
	font-size: xx-large;
	font-family: Gautami;
}
	
div {
	margin: 0;
}

#content {
	background-color: #a1e3fd;
	margin: 0;
	height: 450px;
	width: 50%;
}

.img {
	-webkit-transition-duration: 1.0s;
}

#corsor1 {
	height: 0px;
	opacity: 1.0;
}

#corsor1:hover {
	opacity: 0.6;
}

#corsor2 {
	height: 0px;
	opacity: 1.0;
}

<<<<<<< HEAD
#corsor2:hover {
	opacity: 0.6;
=======
#infowindow {
	height: 0px;
	opacity: 0.5;
>>>>>>> 2a0f5554b7e648f4ac055949e63a27da47b94af2
}

#infowindow {
	height: 0px;
	opacity: 0.5;
}

#infowindow:hover {
	opacity: 0.8;
}

#door_open {
	height: 0px;
	opacity: 0.0;
}

#door_open:hover {
	opacity: 1.0;
}
footer {
	height: 100;
	background-color: #14858d;
}
