* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

header {
	margin: 0;
	padding: 0px;
	
}

nav {
	background-color: #14858d;
	margin: 0px;
	padding: 0px;
}

ul {
	margin: 0 auto;
	width: 50%;
	height: 100px;
}
li {
	margin: 0 auto;
	display: inline-block;
	width: 160px;
	font-size: xx-large;
	font-family: "Jing Jing";
	/*Måste ha alternativt typsnitt*/
}
	
div {
	margin: 0;
}

#content {
	background-color: #a1e3fd;
	margin: 0;
	height: 450px;
	width: 50%;
}
#corsor1 {
	height: 0px;
}

#corsor2 {
	height: 0px;
}

#infowindow {
	height: 0px;
	opacity: 0.5;
}

footer {
	height: 100;
	background-color:#14858d;
}
